@use "../../assets/sass/variables" as *;

.header {
  display: flex;
  justify-content: space-around;
  background-color: $color-dark-purple;
  padding: 3em 1em;

  &__heading {
    color: $font-color;
  }

  &__button {
    background-color: $color-green;
    border-radius: 20px;
    padding: 0 1em;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 4px 4px rgba($font-color, 0.75);
      cursor: pointer;
    }
  }
}
