@use "../../assets/sass/variables" as *;

.employee-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
  max-width: 43rem;
  margin: 4rem auto 3rem;
  padding: 5em 3em;
  border-radius: 7px;
  background-color: $color-green;
  box-shadow: 1px 1px 0px 40px rgba($color-dark-purple, 0.6);

  &__cancel-btn {
    align-self: flex-start;
    border-radius: 20px;
    padding: 0.5em 2em;
    margin-bottom: 3rem;
  }

  &__submit {
    align-self: flex-end;
    border: none;
    border-radius: 20px;
    padding: 0.5em 2em;
    margin-top: 2rem;
  }

  &__input {
    border: none;
    margin: 0.3rem 0 1em;
    border-radius: 20px;
    padding: 1em;
  }
}
